.pagecontainer {
	background-color: #eeeeee;
	align-items: center;
	justify-content: center;
}

.topbarcontainer {
	display: flex;
	flex-direction: row;
	height: 70px;
	border-bottom: 1px solid #bbbbbb;
	padding-left: 20px;
	padding-right: 20px;
	align-items: center;
	justify-content: center;
}

.topbar {
	width: 1024px;
	height: 100%;
}

.topbarleft {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.topbarright {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}

.topbarbtn {
	display: flex;
	width: 16%;
	height: 100%;
	font-size: 20px;
	color: #888888;
	align-items: center;
	justify-content: center;
}

.logo {
	display: flex;
	width: 16%;
	height: 100%;
	font-size: 36px;
	color: #88aa88;
	font-family: "Century Gothic";
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.topbarbtn:hover {
	background-color: #eeeeee;
	cursor: pointer;
}

.searchbar {
	display: flex;
	flex-direction: row;
	padding-left: 12%;
	align-items: center;
}

.searchbox {
	border-radius: 10px 0px 0px 10px;
	border: 1px solid #bbbbbb;
	border-right: none;
	/*box-shadow: 0px 0px 4px 2px #cccccc;*/
	background: none;
	padding: 8px 16px 8px 16px;
}

.searchbtn {
	font-size: 24px;
	border: 1px solid #bbbbbb;
	border-left: none;
	border-radius: 0px 10px 10px 0px;
	cursor: pointer;
	height: 100%;
	padding: 2px 4% 2px 0px;
}

.maincontainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.maincontent {
	display: flex;
	flex-direction: row;
	width: 1128px;
}

.sidebar {
	display: flex;
	flex-direction: column;
	padding: 0px;
	border-right: 1px solid #bbbbbb;
}

.sidebar-item {
	width: 100%;
	display: flex;
	font-size: 18px;
	height: 48px;
	color: #888888;
	align-items: center;
	justify-content: center;
}

a {
	color: #888888;
}

a:hover {
	color: #888888;
}

.sidebar-item:hover {
	background-image: linear-gradient(to right, #ffffff, #f0f0f0, #eeeeee);
	cursor: pointer;
}

.centercontent {

}
