<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
      <title>
        GameFinder
      </title>
    {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'GameFinder/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'GameFinder/style.css' %}">
    <link rel="stylesheet" href="{% static 'GameFinder/reg.css' %}">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row topbar regbar">

      </div>
    </div>
  </body>
</html>
